* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 .5em;
}

h1 {
  text-align: center;
  margin: 1em;
}

a {
  text-decoration: none;
  color: #337cd0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.profileContainer {
  width: 15em;
  height: 17em;
  margin: 1em;
  text-align: center;
  border: gray solid .1em;
  border-radius: 1em;
  box-shadow: 10px 8px 5px #dfe1e1;
}

.profileContainer>h2 {
  color: #337cd0;
}

.profileContainer>p {
  color: #848c96;
}

.infoFlex {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.infoWrapper {
  margin: 4em 1em 0 1em;
  display: flex;
  justify-content: center;
  background-color: #b5dcff;
  padding: 0 0 2em;
  border-radius: 2em;
  width: 50em;
  box-shadow: 10px 8px 5px #dfe1e1;
}

.profilePhoto {
  border-radius: 5em;
  border: thin solid lightgray;
  width: 100%;
  margin: 2em 0em 0 0em;
}

.contactInfo {
  margin: 3em 0 0 0;
}

.contactInfo>h2 {
  font-size: 35px;
}

.details {
  margin: 4em 0 0 -5em;
}

dd {
  margin: 0 0 0 6em;
}

dt {
  font-weight: 900;
}

#noJob {
  color: #cd6763;
}

#home {
  margin-top: 2.5em;
  color: lightgray;
  background-color: #337cd0;
  border-radius: 1em;
  padding: 1em;
  width: 18em;
}
