* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 .5em;
}

h1 {
  text-align: center;
  margin: 1em;
}

a {
  text-decoration: none;
  color: #337cd0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.profileContainer {
  width: 15em;
  height: 17em;
  margin: 1em;
  text-align: center;
  border: gray solid .1em;
}

.profileContainer>h2 {
  color: #337cd0;
}

.profileContainer>p {
  color: #848c96;
}

.infoWrapper {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

.profilePhoto {
  border-radius: 5em;
  border: thin solid lightgray;
  width: 100%;
  margin: 2em 0em 0 0em;
}

.contactInfo {
  margin: 3em 0 0 0;
}

.details {
  margin: 4em 0 0 -5em;
}

dd {
  margin: 0 0 0 6em;
}

dt {
  font-weight: 900;
}

#noJob {
  color: #cd6763;
}
