h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #337cd0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.profileContainer {
  width: 15em;
  height: 17em;
  margin: 1em;
  text-align: center;
  border: gray solid .1em;
}

.profileContainer>h2 {
  color: #337cd0
}

.profileContainer>p {
  color: #848c96;
}

#noJob {
  color: #cd6763;
}
