<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" lang="en">
  <link rel="stylesheet" href="style.css">
  <title>Galactic Droid Directory</title>
</head>

<body>
  <h1>Galactic Droid Directory</h1>

  <div class="wrapper">
    {{#users}}
      <div class="profileContainer">
        <img src="{{avatar}}" alt="Droid Avatar for Profile">
        <h2> {{name}}</h2>
        {{#job}}
          <p>{{job}}, {{company}}</p>
        {{/job}}
        {{^job}}
        <p id="noJob">Available for Hire</p>
        {{/job}}
      </div>
    {{/users}}
  </div>

</body>

</html>
